<!doctype html>
<html ng-app="Challenge7">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="bootstrap.min.css">
		<script src="jquery.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="angular.min.js"></script>
		<title>Task 2 Challenge 7</title>
	</head>
	<body ng-controller="challenge7Controller">
		<div class="flex-container">
			<input type="file" accept=".csv" onchange="fileSelected(this.files[0])">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td ng-repeat="header in headers">
							<input type="text" ng-model="search[header]">
						</td>
					</tr>
				</thead>
				<thead>
					<tr>
						<th ng-repeat="header in headers">{{header}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="d in data | filter:search:strict">
						<td ng-repeat="header in headers">{{d[header]}}</td>
					</tr>
				</tbody>
			</table>
			<script src="app.js"></script>
		</div>
	</body>
</html>