<!doctype html>
<html ng-app="Challenge5">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="bootstrap.min.css">
		<script src="jquery.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="angular.min.js"></script>
		<title>Task 2 Challenge 5</title>
	</head>
	<body ng-controller="challenge5Controller" ng-init="init()">
		<div class="container">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<th>Name</th>
						<th>DOB</th>
						<th>Nationality</th>
					</thead>
					<tr ng-repeat="person in data" ng-class="tableStyle(person)">
						<td>{{person.name}}</td>
						<td>{{person.dob}}</td>
						<td>{{person.nationality}}</td>
					</tr>
					<tr>
						<th>Average Age</th>
						<th>{{averageAge}}</th>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="span2">
				<button type="button" ng-class="showDuplicateStyle" ng-click="showDuplicate()">{{showDuplicateText}}</button>
				<br>
				<button type="button" ng-class="defaultButton" ng-click="removeDuplicate()">Remove Duplicate</button>
				<br>
				<div class="input-group mb-9">
					<div class="input-group-prepend w-50">
						<button ng-class="showAgeLessThanNStyle" type="button" ng-click="showAgeLessThanN()">{{showingAgeLessThanNText}}</button>
					</div>
					<input type="text" class="form-control" ng-model="thresholdAge">
				</div>
				<br>
				<button type="button" ng-class="showUniqueCountriesStyle" ng-click="showUniqueCountries()">{{showUniqueCountryText}}</button>
				<ul class="list-group" ng-repeat="country in countries"  ng-show="isShowingUniqueCountry">
					<li class="list-group-item">{{country}}</li>
				</ul>
			</div>
			<script src="app.js"></script>
		</div>
	</body>
</html>